.cart_wrapper{
    width: 200px;
    background-color: #431101;
    border-radius: 20px;
    display: flex;
    padding: 10px 10px;
    box-sizing: border-box;
}
.cart_img{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.cart_img img{
    max-width: 17%;
}